@{
    Layout = "~/Views/LayoutTemplate.cshtml";
    ViewBag.Title = "Puppy";
}

<p>@ViewBag.u_id</p>
<p>@ViewBag.role</p>
<p>@ViewBag.fname</p>
<p>@ViewBag.lname</p>
<p>@ViewBag.proimg</p>
<p>@ViewBag.datesignup</p>
<p>@ViewBag.address</p>
<p>@ViewBag.email</p>
<p>@ViewBag.tel</p>
<p>@ViewBag.gender</p>
<p>@ViewBag.age</p>


@section PageJavaScript{
    <script type="text/javascript">



    </script>
}

